player {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px grey;

  .progress {
    margin-left: 240px;
    margin-top: -24px;
    margin-right: 0;

    ._md-track-container {
      height: 4px;
    }

    ._md-track-fill {
      background-color: #ff8820
    }

    ._md-thumb::after {
      border-color:  #ff8820;
      border-width: 2px;
      background-color: white;
      width: 40px;
      height: 40px;
      margin-top: -10px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    }

  }

  .controls {
    height: 150px;
    width: 240px;
    flex: 0 0 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 5px;

      .active {
        color: white;
      }

      .md-icon-button {
        margin: 0
      }

      i {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .volume {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;

      i {
        color: white;
        margin-right: 10px;
      }

      md-slider {
        height: 25px;
        margin-top: -12.5px;

        ._md-track-container {
          height: 4px;
        }

        ._md-track-fill {
          background-color: white;
        }

        ._md-thumb::after {
          border: none;
          border-width: 2px;
          background-color: white;
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
        }
      }
    }

    .location {
      display: flex;
      align-items: center;
      justify-content: center;

      .md-button:not([disabled]):hover {
        background-color: white;
      }

      .md-button {
        margin: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;

        i {
         font-size: 40px;
         color: #ff8820;
        }
      }

      .small {
        transform: scale(0.7);
      }

      .pause {
        display: none;
      }

      .isPlaying {
        .pause {
          display: block;
        }

        .play {
          display: none;
        }
      }
    }
  }

  .info {
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: 150px;
      height: 150px;
    }
  }

  .playing {
    .about {
      align-self: flex-start;
      margin: 10px;

      .author {
        font-size: 20px;
        font-weight: 200;
        color: white;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
      }

      .title {
        $font-size: 30px;
        $line-height: 0.9;
        $lines-to-show: 2;

        font-size: $font-size;

        width: 100%;
        font-weight: 800;
        color: white;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);

        line-height: $line-height;
        height: $line-height * $font-size * $lines-to-show;

        display: -webkit-box;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .upcoming {
    text-align: right;
    max-width: 25%;

    .fat {
      font-weight: 800;
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
    }

    > h2 {
      @extend .fat;
      margin-bottom: 10px;
      font-size: 23px;
      font-weight: 100;
      font-family: 'Roboto', sans-serif;
    }

    .track {
      margin-bottom: 10px;

      .title, .author {
        @extend .fat;
        margin: 0;
      }

      .title {
        margin-top: -5px;
        font-size: 16px;
        font-weight: 800;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .author {
        font-size: 12px;
        font-weight: 200;
      }
    }
  }

  .wallpaper {
    display: flex;
    flex-direction: row;

    overflow: hidden;

    height: 100%;
    width: 100%;

    background-position: center center;
    background-size: cover;
  }

}
