.wallpaper
  
  .controls 
    md-button(class="md-fab small" ng-click="Player.previous()")
      i(class="material-icons play") skip_previous
      
    md-button(class="md-fab" ng-click="Player.play()")
      i(class="material-icons play") play_arrow
      
    md-button(class="md-fab small" ng-click="Player.previous()")
      i(class="material-icons play") skip_next
      
  .info 
    
    .playing
      .wrapper
        .cover
          img(src="https://i1.sndcdn.com/artworks-000169656696-4vmkt9-t500x500.jpg")
    
        .about
          .author Melvv
            
          .title Weekend
    
    .upcoming
      h2 Upcoming
      .track
        .author Melvv
        .title Weekend
        
      .track
        .author CSGOD
        .title Wanted
        
      .track
        .author Future House Music
        .title This One's For You (STVCKS Remix)
      
