.cover
  
  .controls 
    md-button(class="md-fab small" ng-click="Player.previous()")
      i(class="material-icons play") skip_previous
      
    md-button(class="md-fab" ng-click="Player.play()")
      i(class="material-icons play") play_arrow
      
    md-button(class="md-fab small" ng-click="Player.previous()")
      i(class="material-icons play") skip_next
