doctype html
html
  head
    meta(charset="UTF-8")
    title Soundmist
  
  body
    h1 Hello World!


  script(src="../node_modules/angular/angular.js")
  script(src="http://localhost:35729/livereload.js")
