nav.sidebar
  .user
    .picture
      img(src="{{ user.avatar_url }}")
    .texts
      .name {{ user.username }}
      .username {{ user.permalink }}

  //.search-area
  //  i(class="fa fa-search" aria-hidden="true")
  //  input(type="text" placeholder="Search anything").search-field
    
  .browse
    h3.section Browse
          
    a(ui-sref="stream" md-ink-ripple="#FF8820" ui-sref-active="active") Stream
      i(class="fa fa-music" aria-hidden="true")
      
    a(ui-sref="charts" md-ink-ripple="#FF8820" ui-sref-active="active") Charts
      i(class="fa fa-bar-chart" aria-hidden="true")

    a(ui-sref="/" md-ink-ripple="#FF8820" ui-sref-active="active") Discover
      i(class="fa fa-globe" aria-hidden="true")
      
    a(ui-sref="/" md-ink-ripple="#FF8820" ui-sref-active="active") Following
      i(class="fa fa-users" aria-hidden="true")

    a(ui-sref="/" md-ink-ripple="#FF8820" ui-sref-active="active") Likes
      i(class="fa fa-heart" aria-hidden="true")

  .playlists
    h3.section Playlists
      .new +
      
    .scrollarea
      a(md-ink-ripple ng-repeat="playlist in playlists") {{ playlist.title }} 
    //a(md-ink-ripple) Efterfest
    //a(md-ink-ripple) Efter-efterfest
