nav.sidebar
  section.search-anything
    input(type="text" placeholder="Search anything")
    
  section.browse
    h3 Browse
    a(href="/") Stream
    a(href="/") Following
    a(href="/") Likes

  section.playlists
    h3 Playlists
    a(href="/") Förfest 
    a(href="/") Efterfest
    a(href="/") Efter-efterfest
