nav.sidebar
  section.search-anything
    i(class="fa fa-search" aria-hidden="true")
    input(type="text" placeholder="Search anything")
    
  section.browse
    h3 Browse
    div(md-ink-ripple="#FF8820" ui-sref-active="active")
      i(class="fa fa-music" aria-hidden="true")
      a(ui-sref="stream") Stream
      
    div(md-ink-ripple="#FF8820" ui-sref-active="active")
      i(class="fa fa-bar-chart" aria-hidden="true")
      a(ui-sref="charts") Charts
      
    div(md-ink-ripple="#FF8820" ui-sref-active="active")
      i(class="fa fa-globe" aria-hidden="true")
      a(ui-sref="/") Discover
      
    div(md-ink-ripple="#FF8820" ui-sref-active="active")
      i(class="fa fa-users" aria-hidden="true")
      a(ui-sref="/") Following
    
    div(md-ink-ripple="#FF8820" ui-sref-active="active")
      i(class="fa fa-heart" aria-hidden="true")
      a(ui-sref="/") Likes

  section.playlists
    h3 Playlists
    a(href="/") Förfest 
    a(href="/") Efterfest
    a(href="/") Efter-efterfest
