.stream {
  > h1 {
    font-size: 22px;
    margin-left: 15px;
    font-weight: 300;
    padding-top: 40px;
    margin-top: 0;
  }

  .item:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
  }
}
