doctype html
html
  head
    meta(charset="UTF-8")
    title Soundmist
    // link(rel="stylesheet" href="styles/main.css")
  
  body(ng-app='soundmist')
    h1 hejsan
    div(ng-view="")
 
  script(src="../../node_modules/angular/angular.js")
  script(src="../../node_modules/angular-route/angular-route.js")
  
  script(src="app.js")
  script(src="components/feed/feed.js")
  
  
  script(src="http://localhost:35729/livereload.js")
  
