@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700';

$sidebar-width: 240px;
$header-height: 200px;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: white;
  overflow: hidden;
}

header, sidebar, .content > main {
  transition: margin 1s ease, opacity 1s ease, top 1s ease;
}

body > .content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.hide-header {
  header {
    opacity: 0;
    margin-top: -$header-height;
  }

  sidebar {
    margin-top: 0;
  }

  > section {
    margin-top: 0px !important;
  }

  section[ui-view] {
    height: 100vh;
  }

  main {
    top: 0;
  }
}

header {
  opacity: 1;
  z-index: 1;
  height: $header-height;
  width: 100%;
}

main {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
}

player {
  width: 100%;
}

sidebar {
  margin-top: -50px;
  width: $sidebar-width;
  flex: 0 0 $sidebar-width;

  z-index: 2;
  box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.75);;
}

section[ui-view] {
  overflow-y: scroll;
  height: 100%;
  padding-left: 20px;
  background-color: #f5f5f5;

}
