@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700';

$sidebar-width: 240px;
$header-height: 200px;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: white;

  > .content {
    display: flex;
    flex-direction: column;
  }
}

header, sidebar, .content > section {
  transition: margin 1s ease, opacity 1s ease;
}

.hide-header {
  header {
    opacity: 0;
    margin-top: -$header-height;
  }

  sidebar {
    margin-top: 0;
  }

  > section {
    margin-top: 0px !important;
  }
}

header {
  opacity: 1;
  z-index: 1;
  position: fixed;
  height: $header-height;
  width: 100%;
}

.content > section {
  margin-top: $header-height;
}

player {
  width: 100%;
}

sidebar {
  z-index: 2;
  margin-top: -50px;
  position: fixed;
  width: $sidebar-width;
  height: 100vh;

  box-shadow: 0px 0px 5px 0px rgba(239, 239, 239, 0.75);;
}

section[ui-view] {
  // width: 100%;
  min-height: 100vh;
  margin-left: $sidebar-width;
  padding-left: 20px;
  background-color: #f5f5f5;
}
