doctype html
html
  head
    meta(charset="UTF-8")
    title Soundmist
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../../node_modules/angular-material/angular-material.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
      
  body(ng-app='soundmist')
    overlay.fade(ng-hide='Handler.isLoaded')
    section.content(ng-cloak)
      sidebar
      section(ui-view)
      player
 
  script(src="../../node_modules/angular/angular.js")
  script(src="../../node_modules/angular-route/angular-route.js")
  script(src="../../node_modules/angular-ui-router/release/angular-ui-router.js")
  script(src="../../node_modules/angular-aria/angular-aria.js")
  script(src="../../node_modules/angular-animate/angular-animate.js")
  script(src="../../node_modules/angular-material/angular-material.js")

  script(src="../../bower_components/angular-audio/app/angular.audio.js")

  script(src="app.js")
  script(src="components/charts/charts.js")
  script(src="components/stream/stream.js")
  
  script(src="directives/sidebar/sidebar.js")
  script(src="directives/overlay/overlay.js")
  script(src="directives/chant/chant.js")
  script(src="directives/player/player.js")
  
  script(src="services/handler.js")
  script(src="services/api.js")
  script(src="services/player.js")
  
  script(src="http://localhost:35729/livereload.js")
  
