.chant
  .artwork
    img(src="{{ item.track.artwork_url_larger }}")
    
  .content
    //.type
    //  {{item.type}}

    .artist
      {{ item.user.username }}
  
    .title
      {{item.track.title}}
      
    .player
      .controls
        .play
          md-button(class="md-fab" aria-label="Profile" ng-click="Player.isPlaying(item) ? Player.pause(item) : Player.play(item)")
            i(class="fa fa-play offcenter" aria-hidden="true" ng-hide="Player.isPlaying(item)")
            i(class="fa fa-pause" aria-hidden="true" ng-show="Player.isPlaying(item)")
          //i(class="fa fa-play" aria-hidden="true")
          
        .meta
          img(src="media/heart-outlined.svg")
          img(src="media/retweet.svg")
          img(src="media/forward.svg")
          //img(src="media/plus.svg")
          //i(class="fa fa-heart-o" aria-hidden="true")
          //i(class="fa fa-retweet" aria-hidden="true")
          //i(class="fa fa-share-alt" aria-hidden="true")
          //i(class="fa fa-plus" aria-hidden="true")
      .waveform
        canvas
      
      // entypo-heart-empty
      // entypo-share
      // entypo-retweet
