.chant
  .artwork
    img(src="{{ item.track.artwork_url_larger }}")
    
  .content
    //.type
    //  {{item.type}}

    .artist
      {{ item.user.username }}
  
    .title
      {{item.track.title}}
      
