.chant
  .artwork
    img(src="{{ item.track.artwork_url_larger }}")
    
  .content 
    .genre
      {{ item.track.genre }}
     
    .artist
      {{ item.user.username }}
    
    .title
      {{ item.track.title }}
      

      
    .player
      .controls
        .play
          md-button(class="md-fab" ng-class="{active: Player.isActive(item), isPlaying: Player.isPlaying(item)}" ng-click="Player.isPlaying(item) ? Player.pause(item) : Player.play(item)")
            i(class="material-icons play") play_arrow
            i(class="material-icons pause") pause
          
        .meta
          i(class="material-icons") favorite_border
          i(class="material-icons") cached
          i(class="material-icons") link

      .waveform
        canvas
